@charset "UTF-8";

:root {
    /*Variables*/
    --cor0: #FFFFFF;
    --cor1: #00000073;
    --cor2: #000000;
    --cor3: #49A09D;
    --cor4: #5F2C82;
}

/*
    Typical Device Breakpoints
    --------------------------
    Small Screens: até 600px;
    Celular: 600px até 768px
    Tablet: 768px até 992px
    Desktop: 992px até 1200px
    Large Screens: acima de 1200px
*/

/* Small Screens: até 500px; */
@media screen and (max-height: 500px) {
    section#login {
        height: 95vh;
        width: 95vw;
        overflow-y: auto;
    }

    div#imagem {
        background-image: url('../images/sleep-large.jpg');
        background-position: center;
        height: 30%;
    }
}

/* Tablet: 768px até 992px */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor3), var(--cor4));
    }

    section#login {
        width: 80vw;
        height: 350px;
        display: flex; /* Adiciona um display flex para centralizar */
        align-items: center; /* Centraliza verticalmente */
    }

    div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-image: url('../images/sleep-tablet.jpg');
        background-position: center center;
    }

    div#formulario {
        float: right;
        width: 70%;
        margin: 0 auto; /* Centraliza horizontalmente com margem automática */
    }

    p {
        text-align: center;
    }
}

/*Desktop: 992px até 1200px*/
@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to top, var(--cor3), var(--cor4));
    }

    section#login {
        width: 990px;
        height: 350px;
    }

    div#imagem {
        float: right;
        width: 50%;
        height: 100%;
        background-image: url('../images/sleep-big.jpg');
        background-position: center;
    }

    div#formulario {
        float: left;
        width: 50%;
    }

    div#formulario>h1 {
        font-size: 2em;
    }

    div#formulario>p {
        font-size: 1.1em;
        text-align: center;
        margin: 20px 0px;
    }
}